.wrapper {
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px;
}

.title {
  margin: 10px auto;
}

.content {
  margin: 10px auto;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: gray;
}
