.wrapper {
  margin-bottom: 30px;
  text-align: center;
  display: gird;
  grid-template-rows: 1fr 1fr;
}

.paragraph {
  margin: 10px auto;
  font-size: 18px;
}

.heading {
  font-weight: lighter;
  margin: 10px auto;
}
